{% extends 'base.html' %}

{% block content %}
<h3>Fantasy Bakeoff Rules</h3>
<p>Why not play along with the fantasy bakeoff and guess who will be the 2016 champion of the tent! Everything you need to know about playing is on this page.</p>
<p>The concept is simple. Watch two episodes and decide who you think will take eternal bakeoff glory, and who might be heading home next week. Using this information, and your bakeoff intuition, rank the remaining candidates on the Fantasy Bakeoff. This ranking is your 'team' </p>
<p>Your fantasy team will be compared to the order Mary and Paul send the bakers home. A score (0-100%) will determine how well you've correlated with the correct order.</p>
<p>Play along on your own, or setup/join a league to play against friends</p>
{% if user.is_authenticated %}
<a href="{% url 'fbo:update' %}">Ready to get started - enter a team here</a>
{% else %}
{% include "login.html" %}
{% endif %}




{% endblock content %}
